<div class="container mb-64 flex justify-center items-center p-5">
  <div class="flex flex-col max-w-md p-10 mx-auto">
    <div class="text-left sm:mt-5">
      <h3 class="font-bold text-4xl">Sign up</h3>
      <div class="inline-flex items-center w-full">
      </div>
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control border", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control border", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control border", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "hover:cursor-pointer flex items-center justify-start px-10 py-2 font-medium text-center text-[#172c66] transition duration-500 ease-in-out transform bg-[#ffd803] rounded-xl hover:bg-[#bae8e8] focus:outline-none", data: {"turbo" => false} %>
      </div>
      <% end %>
    </div>
  </div>
</div>