<header class="bg-white">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="text-center">
      <%= link_to root_path, class: "block text-4xl font-bold text-gray-800 hover:text-gray-600" do %>
        English Pattern Practice
      <% end %>
      <%= link_to root_path, class: "block text-lg text-gray-800 hover:text-gray-600" do %>
        中学英語パターンプラクティス
      <% end %>
    </div>
    <div class="flex items-center space-x-4">
      <ul class="flex space-x-4 ml-auto container items-center">
        <li class="relative">
          <details>
            <summary>レッスン</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a><%= link_to "レッスン一覧", practices_path %></a></li>
                <li><a><%= link_to "ブックマーク一覧", bookmarks_practices_path %></a></li>
                <li><a><%= link_to "パターンプラクティスとは", "#" %></a></li>
          </details>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path, class: "bg-white text-black border border-black px-4 py-2 rounded" %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, class: "bg-black text-white px-4 py-2 rounded block text-center" %>
        </li>
      </ul>
    </div>
  </div>
</header>