<header class="bg-white">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="text-center">
      <%= link_to root_path, class: "block text-4xl font-bold text-gray-800 hover:text-gray-600" do %>
        English Pattern Practice
      <% end %>
      <%= link_to root_path, class: "block text-lg text-gray-800 hover:text-gray-600" do %>
        中学英語パターンプラクティス
      <% end %>
    </div>
    <div class="flex items-center space-x-4">
      <ul class="flex space-x-4 ml-auto container items-center">
        <li class="relative">
          <%= link_to "レッスン", "#", class: "text-black hover:text-blue-600 px-4 py-2 inline-flex items-center", id: "header-board-menu" %>
          <div class="absolute hidden bg-white text-black shadow-lg rounded mt-2 w-48" id="dropdown-menu">
            <%= link_to "レッスン一覧", "practice_parts_path", class: "block px-4 py-2 hover:bg-gray-100" %>
            <%= link_to "パターンプラクティスとは", "#", class: "block px-4 py-2 hover:bg-gray-100" %>
          </div>
        </li>
        <li>
          <%= link_to "設定", "#", class: "bg-white text-black border border-black px-4 py-2 rounded" %>
        </li>
        <li>
          <%= button_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にサインアウトしますか？" }, class: "bg-black text-white px-4 py-2 rounded block text-center" %>
        </li>
      </ul>
    </div>
  </div>
</header>