<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>Part</th>
        <th>基本文</th>
        <th>条件</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <% @practices.each do |practice| %>
      <tr>
        <th><%= practice.practice_part.number %></th>
        <td><%= practice.practice_part.title %></td>
        <td><%= practice.basic_english_sentence %></td>
        <td><%= practice.question %></td>
        <td><%= link_to "Play", practice_path(practice.id), method: :get, class: "btn" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
