<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>パターンプラクティス問題作成</h1>
      <%= form_with model: @practice, class: "new_practice" do |f| %>
        <div class="mb-3">
          <%= f.label :basic_english_sentence %>
          <%= f.text_field :basic_english_sentence, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :basic_japanese_sentence %>
          <%= f.text_field :basic_japanese_sentence, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :question %>
          <%= f.text_field :basic_english_sentence, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control", accept: 'image/*' %>
        </div>
        <div class="mb-3">
          <%= f.label :difficulty_rating %>
          <%= f.text_field :difficulty_rating, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :answer %>
          <%= f.text_field :answer, class: "form-control" %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
