<div class="p-20px mt-12 text-center">
<tr>
<th>基本文<th>
<th><%= @practice.basic_english_sentence %><th>
</tr>
<tr>
<th></th>
<p class="text-center mb-12"><%= @practice.basic_japanese_sentence %></p>
</tr>
<tr>
<th>条件<th>
<th><span class="text-center text-2xl font-bold text-blue-500 pl-4"><%= @practice.question %></span></th>
</tr>
<div class="w-7/12 h-2/12 block mr-auto ml-auto -mt-12"><%= image_tag @practice.image_url, class: "w-full h-full object-contain" %></div>
<% if params[:answer] %>
  <p  class="text-center text-2xl font-bold text-rose-400 mb-4 -mt-8"><%= @practice.answer %></p>
<% end %>
<% if params[:answer] %>
  <p class="block mr-auto ml-auto"><%= link_to "Next", practice_path(Practice.find_by(id: @practice.id+1)), method: :get, class: "btn" %></p>
<% else %>
  <div class="flex space-x-4">
    <p class="block mr-auto ml-auto"><%= link_to "Answer", practice_path(@practice.id, answer: true), method: :get, class: "btn" %></p>
</div>
<% end %>
</div>
