<div class="p-20px mt-12 text-center">
<tr>
<th>基本文<th>
<th><%= @practice.basic_english_sentence %><th>
</tr>
<tr>
<th></th>
<p class="text-center mb-12"><%= @practice.basic_japanese_sentence %></p>
</tr>
<tr>
<th>条件<th>
<th><span class="text-center text-2xl font-bold text-blue-500"><%= @practice.question %><th>
</tr>
<p class="mt-8 w-10/12 h-4/12"><%= image_tag @practice.image_url %></p>
<% if params[:answer] %>
  <p  class="text-center text-2xl font-bold text-rose-400"><%= @practice.answer %></p>
<% end %>
<% if params[:answer] %>
  <p class="block mr-auto ml-auto"><%= link_to "Next", practice_path(Practice.find_by(id: @practice.id+1)), method: :get, class: "btn" %></p>
<% else %>
  <div class="flex space-x-4">
    <p class="block mr-auto ml-auto"><%= link_to "Answer", practice_path(@practice.id, answer: true), method: :get, class: "btn" %></p>
</div>
<% end %>
</div>
