<!DOCTYPE html>
<html>
  <head>
    <title>English Pattern Practice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="中学英語のパターンプラクティスで、スピーキング力を鍛えよう！">
    <link rel="icon" href="/img/favicon.svg" > <!-- 48x48px -->
    <!-- OGPのmetaタグの記述 -->
    <meta property="og:url" content="https://tranquil-dawn-69108-51242ca2ae98.herokuapp.com/" >
    <meta property="og:type" content="website" />
    <meta property="og:title" content="English Pattern Practice" />
    <meta property="og:description" content="English Pattern Practiceは、スピーキング力を鍛えるための中学英語のパターンプラクティスを行えるサイトです。" />
    <meta property="og:site_name" content="English Pattern Practice" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/bde3dd4d06.js" crossorigin="anonymous"></script>
  </head>

  <body class="min-h-screen flex flex-col">
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
